html {
    background-color: rgb(252, 250, 246)
}

body {
    width: 90%;
    margin: 10px auto;
    max-width: 700px;
    font-size: 20px;
}

.image {
    width: 100%;
}

.image-caption {
    font-size: 17px;
    font-style: italic;
}

.comment {
    color: #999;
    font-size: x-small;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}